
// Font family
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:  Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;


$white:             #fff;
$blue:              #009bd6;
$dark-blue:         #00415a;
$grayish-blue:      #536171;
$grayish-blue-dark: #253545;
$grayish-blue-light: #eef2f4;