button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.button {
  background-color: $button-primary;
  border: 2px solid $button-primary;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.0625em;
  line-height: 1.2;
  padding: 0.9em 2.14286em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active {
    border-color: $button-primary;
    opacity: .8;
    outline: 0;
  }
}

.button--secondary {
  background-color: #fff;
  border-color: $button-primary;
  color: $button-primary;
}