.section {
  margin-bottom: 2.5em;

  &:first-child {
    padding-top: 2.5em;

  }
}

.section__media,
.section__content {
  position: relative;
}

.bg-blue,
.bg-gray,
.has-bg-image {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.bg-blue {
  background-color: $dark-blue;
  color: $white;

  h1 {
    color: $white;
  }
}
