table {
  border-bottom: 1px solid $border-color;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.5;
  margin: 0;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

caption {
  color: $meta-color;
  font-size: 0.875em;
  font-style: italic;
  margin-bottom: 1em;
  text-align: left;
}

th,
td {
  border-top: 1px solid $border-color;
  padding: 0.5em 5px;
}

th {
  color: $heading-color;
  font-weight: 700;
}

:not(.responsive-table) > table {
  margin: 0 0 1.875em;
}

.responsive-table {
  display: block;
  margin: 0 0 1.875em;
  overflow-x: auto;
  width: 100%;
}