{% set section = include_dict.section %}
<section class="section">
  <div class="container">
    <div class="section__content">

      {% if section.title %}
      <h2 class="section__title">{{ section.title }}</h2>
      {% endif %}

      <div class="flex flex--wrap flex--col-3">

        {% set posts_all = getPages("/blog") | where("url", "!=", "blog/") | where("url", "!=", "/blog/") %}
        {% set posts_sorted = posts_all | sort(true, true, "date") %}
        {% set posts_display = posts_sorted | slice_array(0, section.recent_count | default(3, true)) if section.show_recent else posts_sorted %}

        {% for post in posts_display %}
        <article class="cell card">
          <div class="card__inside">

            {% if post.params.image %}
            <a class="post__image" href="{{ post.url | relative_url }}">
              <img src="{{ post.params.image | relative_url }}" alt="{{ post.params.title }}" />
            </a>
            {% endif %}

          <header class=" card__heading post__header">
            <p class="post__meta"><time datetime="{{post.date | date_format("%Y-%m-%d %H:%M") }}">{{ post.date | date_format("%B %d, %Y") }}</time></p>

            {% if section.title %}
            <h3 class="post__title"><a href="{{ post.url | relative_url }}">{{ post.params.title }}</a>
            </h3>
            {% else %}
            <h2 class="post__title"><a href="{{ post.url | relative_url }}">{{ post.params.title }}</a>
            </h2>
            {% endif %}

          </header>

          {% if post.params.excerpt %}
          <p class="card__copy post__excerpt">
            {{ post.params.excerpt }}
          </p>
          {% endif %}

          </div>

        </article>
        {% endfor %}

      </div>

    </div>
  </div>
</section>