{% set blog_feed_section = include_dict.blog_feed_section %}
{% set post = include_dict.post_page %}
<article class="cell">
  <div class="card">
    {% if post.params.image %}
    <a class="card__media card__media--top" href="{{ post.url | relative_url }}">
      <img src="{{ post.params.image | relative_url }}" alt="{{ post.params.image_alt }}" />
    </a>
    {% endif %}
    <div class="card__body">
      <header class="card__header">
        {% if post.params.categories %}
          {% set include_dict = {'categories': post.params.categories, 'container_class': 'card__meta'} %}
          {% include "blog_post_categories.html" %}
        {% endif %}
        {% if blog_feed_section.title %}
          <h3 class="h4 card__title"><a href="{{ post.url | relative_url }}">{{ post.params.title }}</a></h3>
        {% else %}
          <h2 class="h4 card__title"><a href="{{ post.url | relative_url }}">{{ post.params.title }}</a></h2>
        {% endif %}
      </header>
      {% if post.params.excerpt %}
        <div class="card__copy">
          <p>{{ post.params.excerpt }}</p>
        </div>
      {% endif %}
      <footer class="card__footer">
        <span>On <time datetime="{{post.date | date_format("%Y-%m-%d %H:%M") }}">{{ post.date | date_format("%B %d, %Y") }}</time></span>
        {% if post.params.author %}
          {% set author = getData(post.params.author) %}
          {% if author.link %}
            <span> by <a href="{{ author.link | relative_url }}">{{ author.first_name }} {{ author.last_name }}</a></span>
          {% else %}
            <span> by {{ author.first_name }} {{ author.last_name }}</span>
          {% endif %}
        {% endif %}
      </footer>
    </div>
  </div>
</article>