{% set section = include_dict.section %}
<section class="section">
  <div class="container">

    {% if section.title %}
    <div class="section__content">
      <h2 class="section__title text--center">{{ section.title }}</h2>
    </div>
    {% endif %}

    {% if section.features %}
    {% for feature in section.features %}
    <div {{ classNames('section__content', 'flex', 'flex--middle', 'flex--col-2', { 'flex--swap': feature.image_position == 'right', 'text--center': feature.align == 'center', 'text--right': feature.align == 'right' }) }}>

      {% if feature.image %}
      <div class="section__media cell">
        <img src="{{ feature.image | relative_url }}" alt="{{ feature.title }}" />
      </div>
      {% endif %}

      <div class="section__body cell">
        {% if feature.title %}
          {% if section.title %}
          <h3 class="section__title">{{ feature.title }}</h3>
          {% else %}
          <h2 class="section__title">{{ feature.title }}</h2>
          {% endif %}
        {% endif %}
        {% if feature.content %}
        <div class="section__copy">
          {{ feature.content | markdownify }}
        </div>
        {% endif %}
        {% if feature.actions %}
        <div class="section__cta">
          {% set include_dict = {'actions': feature.actions} %}
          {% include "cta_buttons.html" %}
        </div>
        {% endif %}
      </div>

    </div>
    {% endfor %}
    {% endif %}

  </div>
</section>