{% set section = include_dict.section %}
{% set background_color = section.background.background_color | default('white', true) %}
{% set background_opacity = section.background.background_image_opacity | default(100, true) %}
{% set background_size = section.background.background_image_size | default('cover', true) %}
{% set background_repeat = section.background.background_image_repeat | default('no-repeat', true) %}

<section {{ classNames('hero', 'section', {'has-bg': section.has_background, 'bg-blue': section.has_background and background_color == 'blue', 'bg-gray': section.has_background and background_color == 'gray'}) }}>

  {% if section.has_background and section.background.background_image %}
  <div class="bg-image" style="background-image: url('{{ section.background.background_image | relative_url }}'); opacity: {{ background_opacity/100.0 }}; background-size: {{ background_size }}; background-repeat: {{ background_repeat }}"></div>
  {% endif %}

  <div class="container">
    <div class="section__content flex flex--middle flex--col-2">

      {% if section.image %}
      <div class="section__media cell">
        <img src="{{ section.image | relative_url }}" alt="{{ section.title }}" />
      </div>
      {% endif %}

      <div class="section__body cell">
        {% if section.title %}
        <h1 class="section__title">{{ section.title }}</h1>
        {% endif %}
        {% if section.subtitle %}
        <div class="section__copy">
          <p>{{ section.subtitle }}</p>
        </div>
        {% endif %}
        {% if section.actions %}
        <div class="section__cta">
          {% set include_dict = {'actions': section.actions} %}
          {% include "cta_buttons.html" %}
        </div>
        {% endif %}
      </div>

    </div>
  </div>

</section>