/**
 * General
 */
html {
  font-family: $font-family-base;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a {
  border-bottom: 1px solid transparent;
  color: $link-color;
  text-decoration: none;
  transition: .3s ease;

  &:hover {
    border-color: currentColor;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  line-height: 1.2;

  a {
    color: inherit;
  }
}

p {
  margin: 0 0 1.5em;
}


/* Media */
embed,
iframe,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}