/**
 * Helper classes
 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-base;
  padding-left: 2em;
  padding-right: 2em;
}

.container--md {
  max-width: $container-md;
}

/* Background image */
.has-bg {
  position: relative;
}

.bg-image {
  background-position: center center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Text Alignment */
.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

/* Spacing */
.padding--vertical {
  padding-bottom: 3.75em;
  padding-top: 3.75em;
}

/* Text meant only for screen readers */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
