{% extends "body.html" %}

{% block content %}

<article class="post">
  <div class="container container--md">

    {% if page.params.image %}
    <div class="post__image">
      <img src="{{ page.params.image | relative_url }}" alt="{{ page.params.title }}" />
    </div>
    {% endif %}

    <header class="post__header">

      {% if page.params.category %}
        {% set include_dict = {'categories': page.params.categories, 'container_class': 'post__meta'} %}
        {% include "blog_post_categories.html" %}
      {% endif %}

      <h1 class="post__title">{{ page.params.title }}</h1>
      <div class="post__meta">
        On <time datetime="{{page.date | date_format("%Y-%m-%d %H:%M") }}">{{ page.date | date_format("%B %d, %Y") }}</time>
        {% if page.params.author %}{% set author = getData(page.params.author) %} by <a href="{{ '/blog/author/' | append( author.slug ) | relative_url }}">{{ author.first_name }} {{ author.last_name }}</a>{% endif %}
      </div>
    </header>

    <div class="post__copy">
      {{ page.content }}
    </div>

  </div>
</article>

{% endblock %}
