{% extends "body.html" %}

{% block content %}

<article class="post post--full padding--vertical">
  <div class="container container--md">

    {% if page.params.image %}
    <div class="post__image">
      <img src="{{ page.params.image | relative_url }}" alt="{{ page.params.title }}" />
    </div>
    {% endif %}

    <header class="post__header">
      <p class="post__meta"><time datetime="{{page.date | date_format("%Y-%m-%d %H:%M") }}">{{ page.date | date_format("%B %d, %Y") }}</time></p>
      <h1 class="post__title">{{ page.params.title }}</h1>
    </header>

    <div class="post__body">
      {{ page.content }}
    </div>

  </div>
</article>

{% endblock %}