.post__footer {
  font-size: 0.875em;

  span {
    display: inline-block;
    margin-right: 0.5em;

    &:before {
      content: '\0023';
    }
  }
}

.post__title {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.post--full {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}