.post__footer {
  font-size: 0.875em;

  span {
    display: inline-block;
    margin-right: 0.5em;

    &:before {
      content: '\0023';
    }
  }
}

.post__title {
  a {
    border: 0;
    color: inherit;
    text-decoration: none;
  }
}

.post__meta {
  color: $meta-color;
  font-size: 0.875em;
}

.post--full {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.section--blog-feed {
  .card__media {
    border: 0;
  }
}