.hero {
  .section__content {
    //???
    justify-content: center;
  }

  .section__body {
    &:only-child {
      flex-basis: 100%;
      text-align: center;
      max-width: $container-md;

      .section__cta {
        justify-content: center;
      }
    }
  }
}